---
import plotlyjs from 'plotly.js/dist/plotly.min.js?url'
import scriptjs from '~/assets/script.js?url'
---

<html>
<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Votes Fluff Event</title>

	<link rel="icon" href="https://fluffevent.fr/wp-content/uploads/2022/12/cropped-FluffEveent-logo-onglet-contour-192x192.png" sizes="192x192" />
	<link rel="apple-touch-icon" href="https://fluffevent.fr/wp-content/uploads/2022/12/cropped-FluffEveent-logo-onglet-contour-180x180.png" />

	<link rel="stylesheet" href="style.css" type="text/css" media="all" />

	<script src={plotlyjs} defer></script>
	<script src={scriptjs} defer></script>


</head>
<body>

	<header>
		<img src="https://fluffevent.fr/wp-content/uploads/2020/04/Lemurr-application-transparent-300x264.png" class="logo" alt="Logo Fluff Event" />
		<h1>Votes Fluff Event</h1>
	</header>

	<main>

		<div>
			<div>
				Résultats des votes (<span id="nb_votes">…</span> votes comptabilisés)
			</div>

			<div>
				Système de vote mis en œuvre : <a href="https://fr.wikipedia.org/wiki/Vote_%C3%A0_second_tour_instantan%C3%A9">Vote alternatif</a> (<a href="https://en.wikipedia.org/wiki/Instant-runoff_voting">en</a>)
			</div>

			<form id="form" action="#">
				<label for="input_style">Style</label>
				<div id="input_style">
					<div style="display: inline-block">
						<input type="radio" name="style" value="scores" id="input_style_scores" />
						<label for="input_style_scores">Scores</label>
					</div>

					<div style="display: inline-block">
						<input type="radio" name="style" value="votes" id="input_style_votes" checked />
						<label for="input_style_votes">Votes</label>
					</div>
				</div>

				<label for="input_tour">Tour</label>
				<div id="input_tour">
					<div style="display: inline-block">
						<input type="radio" name="tour" value="1" id="input_tour_1" />
						<label for="input_tour_1">Tour 1</label>
					</div>

					<div style="display: inline-block">
						<input type="radio" name="tour" value="2" id="input_tour_2" />
						<label for="input_tour_2">Tour 2</label>
					</div>

					<div style="display: inline-block">
						<input type="radio" name="tour" value="3" id="input_tour_3" />
						<label for="input_tour_3">Tour 3</label>
					</div>

					<div style="display: inline-block">
						<input type="radio" name="tour" value="4" id="input_tour_4" />
						<label for="input_tour_4">Tour 4</label>
					</div>

					<div style="display: inline-block">
						<input type="radio" name="tour" value="5" id="input_tour_5" />
						<label for="input_tour_5">Tour 5</label>
					</div>

					<div style="display: inline-block">
						<input type="radio" name="tour" value="6" id="input_tour_6" />
						<label for="input_tour_6">Tour 6</label>
					</div>

					<div style="display: inline-block">
						<input type="radio" name="tour" value="7" id="input_tour_7" checked />
						<label for="input_tour_7">Tour 7</label>
					</div>
				</div>
			</form>

			<div id="graph"></div>
		</div>

	</main>

	<footer>
		<div>© 2023 - <a href="https://fluffevent.fr/">Fluff Event</a></div>
		<div><a href="https://github.com/FluffEvent/Votes">Open Source</a></div>
		<!-- <div>Site réalisé par <a href="https://matiboux.me/">Matiboux</a></div> -->
	</footer>

</body>
</html>

<style lang="scss">
html {
	position: relative;
	min-width: 100%;
	min-height: 100%;
}

body {
	position: relative;
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-size: 14px;
	line-height: 1.5;
}

a {
	color: inherit;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #e6386bc0;
	width: 100%;
	height: 200px;
	padding: 20px;
    flex-grow: 0;
	flex-shrink: 0;
}

header > * {
	flex-grow: 0;
	margin-right: 50px;
}

header > *:last-child {
	margin-right: 0;
}

header > .logo {
	height: 200px;
}

header > h1 {
	font-size: 42px;
	font-weight: 300;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(180deg, #e6386bc0 0%, #9d29a5c0 100%);
	width: 100%;
	padding: 20px;
	flex-grow: 1;
}

main > div {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 100%;
	max-width: 1440px;
	height: 100%;
	padding: 0 20px;
}

main > div > #graph {
	background: #fff;
	min-height: 300px;
	max-height: 600px;
	padding: 20px;
	flex-grow: 1;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #9d29a5c0;
	width: 100%;
	height: 40px;
	padding: 20px;
	flex-grow: 0;
	flex-shrink: 0;
}

footer > * {
	flex-grow: 0;
	margin-right: 30px;
}

footer > *:last-child {
	margin-right: 0;
}

@media screen and (max-height: 719.98px) {
	header {
		height: 120px;
	}

	header > .logo {
		height: 120px;
	}

	main > div {
		max-width: 1080px;
	}
}
</style>
